.notNftsLink {
  color: #35b049 !important;
}

.notNftsLink:hover {
  cursor: pointer;
}

.create-nft-button {
  color: #35b049;
}

.create-nft-button:hover {
  cursor: pointer;
  text-decoration: underline;
}
